body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    display: flex;
    min-width: 318px;
    max-width: 798px;
    width: calc(75vw - 2px);
    height: calc(75vh - 2px);
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 15px 0, rgba(0, 0, 0, 0.25) 0 2px 20px 0;
    border: 15.5px solid rgba(255, 255, 255, 0.23);
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}

.slide {
    min-width: min(800px, 75vw);
    max-width: 75vw;
    height: max(100%, 537px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    scroll-snap-align: start;
}

.slide:nth-child(1) {
    background-image: url("./img/1.png");
}

.slide:nth-child(2) {
    background-image: url("./img/2.png");
}

.slide:nth-child(3) {
    background-image: url("./img/3.png");
}
