body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20vw;
    background: linear-gradient(to bottom, #2e1a38, #180020);
    min-height: 100vh;
    font-family: Raleway, sans-serif;
    text-align: center;
    color: #ffffff;
}

h1 {
    padding-bottom: 16px;
    border-bottom: 1px solid #333;
}

.button-wrap {
    position: relative;
    top: 0;
    left: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    margin: 0 5px;
}

.button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    padding: 10px;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    color: #fff;
    font-weight: 400;
    z-index: 1;
    transition: 0.5s;
    backdrop-filter: blur(15px);
    cursor: pointer;
}

.button-wrap:hover .button {
    letter-spacing: 3px;
}

.button::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
    transform: skewX(45deg) translate(0);
    transition: 0.5s;
    filter: blur(0px);
    content: "";
}

.button-wrap:hover .button::before {
    transform: skewX(45deg) translate(200px);
}

.button-wrap::before {
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translatex(-50%);
    width: 30px;
    height: 10px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0.5s;
    content: "";
}

.button-wrap:hover::before {
    width: 80%;
    height: 50%;
    bottom: 0;
    border-radius: 30px;
}

.button-wrap::after {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    top: -5px;
    width: 30px;
    height: 10px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0.5s;
    content: "";
}

.button-wrap:hover::after {
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
}

.button-wrap--blue::before,
.button-wrap--blue::after {
    background: #2db2ff;
    box-shadow: 0 0 5px #2db2ff, 0 0 15px #2db2ff, 0 0 30px #2db2ff,
        0 0 60px #2db2ff;
}

.button-wrap--green::before,
.button-wrap--green::after {
    background: #1eff45;
    box-shadow: 0 0 5px #1eff45, 0 0 15px #1eff45, 0 0 30px #1eff45,
        0 0 60px #1eff45;
}

.users-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 40px;
}

.users-container > * {
    max-width: 500px;
    min-height: 200px;
    padding: 35px;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 25% auto auto;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(94, 94, 94, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    gap: 16px;
    text-align: left;
}

.photo {
    grid-column: 1 / 2;
    grid-row: 1 / span 4;
}

.name {
    grid-column: 2 / -1;
}

.users-container > * {
    justify-self: flex-start;
}

p, h2 {
    margin: 0;
}
